ElvisClientApplication/ElvisApp/Service References/EmailServiceReference/EMailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ptwide.porttalbot.pcswales.corusgroup.com/EmailService/EMailService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ptwide.porttalbot.pcswales.corusgroup.com/EmailService/EMailService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toNames" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasAttachment" type="xs:boolean" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toNames" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasAttachment" type="xs:boolean" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailMultipleAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toNames" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasAttachment" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filePath" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailMultipleAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailMultipleAttachmentsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailWithEmbeddedImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toNames" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="replyTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasAttachment" type="xs:boolean" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ms" nillable="true" type="q6:MemoryStream" />
        <xs:element minOccurs="0" name="contentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailWithEmbeddedImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailWithEmbeddedImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>