ElvisClientApplication/ElvisDataModel/Service References/PSPIServiceReference/PS_PIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSP.PT.PI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSP.PT.PI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPIValueObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PIValueObject" nillable="true" type="tns:PIValueObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPIValueObject" nillable="true" type="tns:ArrayOfPIValueObject" />
  <xs:complexType name="PIValueObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bad" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bool" type="xs:boolean" />
      <xs:element minOccurs="0" name="Float" type="xs:float" />
      <xs:element minOccurs="0" name="Int" type="xs:int" />
      <xs:element minOccurs="0" name="Raw" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="String" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PIValueObject" nillable="true" type="tns:PIValueObject" />
</xs:schema>